@{ Layout = "~/Modules/Frontend/Views/Shared/_Layout.cshtml"; }

<section class="us-state-standard pagenot-found text-center">
    <div class="container-fixed">

        <h1 class="h2-style">404 Error: <br />Page Not Found</h1>
        <p class="mb-1">This page doesn’t seem to exist. Sorry about that! We encourage you to head back home or use our popular links below to find your way.</p>
        <a href="/" class="default-btn">Back to Home</a>

    </div>
</section>
