@{ Layout = "~/Modules/Frontend/Views/Shared/_Layout.cshtml"; }

@section head
{
    <title>Unauthorized | The Arena </title>
}

<!-- 404: Section Starts here-->
<section class="pagenot-found text-center">
    <div class="container-fixed">
        <h1 class="h2-style">Sorry, you are not able to access this page!</h1>
        <p>Please contact us at <a class="default-link noarrow" href="mailto:support@thearena.com">support@thearena.com</a> to request access to view this content</p>
    </div>
</section>
